/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: rgb(255, 0, 0);
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: rgb(122, 0, 126);
  border: .05rem solid rgb(255, 0, 149);
}


/*
 * Base structure
 */

html,
body {
  
  background-color:rgb(49, 115, 185);
  background-repeat: no-repeat, repeat;
  
}

body {
  display: -ms-flexbox;
  display: flex;
  color: rgba(0, 0, 0, 0.801);
  text-shadow: 0 .2rem .9rem rgb(255, 0, 212);
  box-shadow: inset .1rem .15rem 5rem rgb(255, 67, 130);
}

.cover-container {
  max-width: 44em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgb(229, 255, 0);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 0, 0, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: rgb(255, 255, 255);
  border-bottom-color: rgb(0, 47, 255);
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(224, 12, 12, 0.5);
}
